{% extends 'linkfile.html' %}
{% block title %} rtnews center {% endblock %}
{% load static %}
{% block body %}
<div class="col-sm-7">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert colour_banner">
                <strong>Registration Form</strong>
            </div>
<!--            message alert-->
            <div id="msg">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Error:
                    {% else %}
                    <strong>{{message.tags | title }}</strong>
                    {% endif %}
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
<!--            end of message alert function-->

            <form  method="POST">
                {% csrf_token %}
                <div class="form-group ">
                    <div class="row">
                        <div class="col">
                            <label for="username">User Name:</label>
                            <input type="text" class="form-control from-control-sm" id="username"
                                   placeholder="Enter User Name" name="username" required>
                        </div>
                        <div class="col">
                            <label for="uemail">Email:</label>
                            <input type="email" class="form-control from-control-sm" id="uemail"
                                   placeholder="Example@gamil.com" name="uemail" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="upassword">Password:</label>
                    <input type="text" class="form-control from-control-sm" id="upassword" name="upassword" required>
                </div>
                <div class="form-group">
                    <label for="repassword">Conform Password:</label>
                    <input type="text" class="form-control from-control-sm" id="repassword" name="repassword" required>
                </div>
                <div class="from-group">
                    <label for="uphone">Phone Number:</label>
                    <input type="number" class="form-control from-control-sm" id="uphone" name="uphone" required>
                </div>                <br>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}