{% extends 'linkfile.html' %}
{% block title %} rtnews center {% endblock %}
{% block page/gamingactive %} active{% endblock page/gamingactive %}
{% load static %}
{% block body %}

<div class="col-sm-7">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert colour_banner">
                <strong>Gaming Latest News</strong>
            </div>
            {% for k in game1|slice:5 %}
            <div class=" text-center">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="{{k.file_name.url}}" class="rounded" height="120" width="139" alt="Avatar">
                    </div>
                    <div class="col-sm-9 bg-light ">
                        <a href="{{k.get_absolute_url}}"> <p>{{k.title}}</p></a>
                        <p><small>{{k.post0|truncatechars:170}}</small></p>
                        <span class="text-dark"><small>{{k.pub_date}}&nbsp;&nbsp;</small></span>
                        <a href="{{k.get_absolute_url}}">
                            <span class="text-dark"><small>continue reading..</small></span>
                        </a>
                    </div>
                </div><br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
